In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Georgiyevka,KZ,2020-11-02 01:18:01,43.04,74.71,28.40,86,100,2.24
1,1,Kaitangata,NZ,2020-11-02 01:13:11,-46.28,169.85,53.01,68,95,11.99
2,2,Berezniki,RU,2020-11-02 01:18:02,59.42,56.81,26.01,90,0,1.01
3,3,Leshukonskoye,RU,2020-11-02 01:18:02,64.90,45.76,29.70,97,100,6.60
4,4,Albany,US,2020-11-02 01:08:45,42.60,-73.97,41.00,95,95,9.40

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds , dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind , dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
10,10,Mackay,AU,2020-11-02 01:17:35,-21.15,149.20,87.01,66,5,12.75
11,11,Kapaa,US,2020-11-02 01:13:06,22.08,-159.32,79.00,83,75,16.11
13,13,Butaritari,KI,2020-11-02 01:12:00,3.07,172.79,82.20,76,76,9.57
16,16,Port Augusta,AU,2020-11-02 01:13:46,-32.50,137.77,82.40,30,52,10.29
28,28,Atuona,PF,2020-11-02 01:13:23,-9.80,-139.03,77.68,77,85,13.87
30,30,Nicoya,CR,2020-11-02 01:15:02,10.15,-85.45,78.80,83,75,4.70
32,32,Cabo San Lucas,MX,2020-11-02 01:13:50,22.89,-109.91,81.00,67,0,1.01
34,34,Puerto Escondido,MX,2020-11-02 01:17:57,15.85,-97.07,80.15,72,0,3.33
38,38,Lorengau,PG,2020-11-02 01:13:47,-2.02,147.27,87.31,64,22,5.28
43,43,Vaini,TO,2020-11-02 01:13:11,-21.20,-175.20,78.80,83,75,10.29

In [12]:
preferred_cities_df.count()

City_ID       161
City          161
Country       160
Date          161
Lat           161
Lng           161
Max Temp      161
Humidity      161
Cloudiness    161
Wind Speed    161
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp    Lat     Lng Hotel Name
10            Mackay      AU     87.01 -21.15  149.20
11             Kapaa      US     79.00  22.08 -159.32
13        Butaritari      KI     82.20   3.07  172.79
16      Port Augusta      AU     82.40 -32.50  137.77
28            Atuona      PF     77.68  -9.80 -139.03
30            Nicoya      CR     78.80  10.15  -85.45
32    Cabo San Lucas      MX     81.00  22.89 -109.91
34  Puerto Escondido      MX     80.15  15.85  -97.07
38          Lorengau      PG     87.31  -2.02  147.27
43             Vaini      TO     78.80 -21.20 -175.20

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
10,Mackay,AU,87.01,-21.15,149.20,International Lodge Motel
11,Kapaa,US,79.00,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
13,Butaritari,KI,82.20,3.07,172.79,Isles Sunset Lodge
16,Port Augusta,AU,82.40,-32.50,137.77,Majestic Oasis Apartments
28,Atuona,PF,77.68,-9.80,-139.03,Villa Enata
30,Nicoya,CR,78.80,10.15,-85.45,Guayacan Real
32,Cabo San Lucas,MX,81.00,22.89,-109.91,Hotel Tesoro Los Cabos
34,Puerto Escondido,MX,80.15,15.85,-97.07,Aldea del Bazar Hotel and Spa
38,Lorengau,PG,87.31,-2.02,147.27,Lorengau Harbourside Hotel
43,Vaini,TO,78.80,-21.20,-175.20,Keleti Beach Resort

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))