## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Glendive,US,62.60,clear sky,47.11,-104.71,Baymont by Wyndham Glendive
1,2,Busselton,AU,61.00,clear sky,-33.65,115.33,Observatory Guest House
2,4,Rikitea,PF,74.55,few clouds,-23.12,-134.97,Pension Maro'i
3,5,Saldanha,ZA,60.80,overcast clouds,-33.01,17.94,Blue Bay Lodge
4,6,Almunecar,ES,66.99,overcast clouds,36.73,-3.69,Almuñécar Playa Spa Hotel
5,8,Avarua,CK,75.20,light rain,-21.21,-159.78,Paradise Inn
6,9,Cape Town,ZA,66.99,scattered clouds,-33.93,18.42,Southern Sun Waterfront Cape Town
7,10,Mahebourg,MU,73.40,scattered clouds,-20.41,57.70,Shandrani Beachcomber Resort & Spa
8,13,Hobart,AU,57.99,broken clouds,-42.88,147.33,St Ives Hobart Accommodation Tasmania
9,17,Wenling,CN,69.01,scattered clouds,28.37,121.36,Hanting Express Wenling Wanchang North Road

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Vila")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Vila")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Muros")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Naron")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Bereda")]

vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
271,504,Vila,PT,55.0,overcast clouds,42.03,-8.16,Hotel Castrum Villae

In [11]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0])
end = (vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0])
stop1 = (vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0])
stop2 = (vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0])
stop3 = (vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0])

print(start, end, stop1, stop2, stop3)

(42.03, -8.16) (42.03, -8.16) (42.78, -9.06) (43.52, -8.15) (43.27, -7.54)

In [35]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
trip_end = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3], travel_mode = 'DRIVING')
fig.add_layer(trip_end)
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,504,Vila,PT,55.00,overcast clouds,42.03,-8.16,Hotel Castrum Villae
1,54,Muros,ES,57.99,clear sky,42.78,-9.06,Apartment Av. Castelao
2,435,Naron,ES,59.00,overcast clouds,43.52,-8.15,Marcial
3,338,Bereda,ES,53.01,overcast clouds,43.27,-7.54,Pazo de Verdes

In [38]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [43]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=3)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))